@import "../../../app.scss";

.login-by-account-board {
  padding: 20rpx;

  .field {
    margin: 20rpx auto;
    border-radius: 15rpx;
    background-color: $bg-gray;
    border: 3rpx solid $black;
    color: $white;
    text-align: left;
  }

  .van-field__label {
    color: $yellow;
  }

  .van-field__control {
    color: $white;
  }

  .login-btn {
    font-size: large;
    border-radius: 15rpx;
  }

  .link {
    font-size: 30rpx;
    margin: 20rpx;
    color: $gray;
  }
}
